<%- include('./includes/head') %>
<%- include('./includes/header') %>

<main>
    <h1>Partidas existentes</h1>
    <div class="exibicao">
        <div class="card">
            <h2>Partida amigos teste</h2>
            <h3>local: arena sport</h3>
            <h3>data: dd/mm</h3>
            <h3>hora:hh/mm</h3>
            <img src="/assets/img/bolaLogo.png" alt="">
            <div>
                <button class="btn-acessar">acessar</button>
                <button class="btn-excluir">excluir</button>
            </div>
        </div>

        <div class="card">
            <h2>Partida amigos teste</h2>
            <h3>local: arena sport</h3>
            <h3>data: dd/mm</h3>
            <h3>hora:hh/mm</h3>
            <img src="/assets/img/campo-backgorund.png" alt="">
              <div>
                <button class="btn-acessar">acessar</button>
                <button class="btn-excluir">excluir</button>
            </div>          
        </div>

         <div class="card">
            <h2>Partida amigos teste</h2>
            <h3>local: arena sport</h3>
            <h3>data: dd/mm</h3>
            <h3>hora:hh/mm</h3>
            <img src="/assets/img/campo-backgorund.png" alt="">
              <div>
                <button class="btn-acessar">acessar</button>
                <button class="btn-excluir">excluir</button>
            </div>          
        </div>

        <div class="card">
            <h2>Partida amigos teste</h2>
            <h3>local: arena sport</h3>
            <h3>data: dd/mm</h3>
            <h3>hora:hh/mm</h3>
            <img src="/assets/img/pngwing.com.png" alt="">
            <div>
                <button class="btn-acessar">acessar</button>
                <button class="btn-excluir">excluir</button>
            </div>          
        </div>

         <div class="card">
            <h2>Partida amigos teste</h2>
            <h3>local: arena sport</h3>
            <h3>data: dd/mm</h3>
            <h3>hora:hh/mm</h3>
            <img src="/assets/img/campo-backgorund.png" alt="">
              <div>
                <button class="btn-acessar">acessar</button>
                <button class="btn-excluir">excluir</button>
            </div>          
        </div>

         <div class="card">
            <h2>Partida amigos teste</h2>
            <h3>local: arena sport</h3>
            <h3>data: dd/mm</h3>
            <h3>hora:hh/mm</h3>
            <img src="/assets/img/campo-backgorund.png" alt="">
              <div>
                <button class="btn-acessar">acessar</button>
                <button class="btn-excluir">excluir</button>
            </div>          
        </div>

         <div class="card">
            <h2>Partida amigos teste</h2>
            <h3>local: arena sport</h3>
            <h3>data: dd/mm</h3>
            <h3>hora:hh/mm</h3>
            <img src="/assets/img/campo-backgorund.png" alt="">
              <div>
                <button class="btn-acessar">acessar</button>
                <button class="btn-excluir">excluir</button>
            </div>          
        </div>

         <div class="card">
            <h2>Partida amigos teste</h2>
            <h3>local: arena sport</h3>
            <h3>data: dd/mm</h3>
            <h3>hora:hh/mm</h3>
            <img src="/assets/img/campo-backgorund.png" alt="">
              <div>
                <button class="btn-acessar">acessar</button>
                <button class="btn-excluir">excluir</button>
            </div>          
        </div>
    </div>

    
</main>

<%- include('./includes/footer') %>